
<!DOCTYPE html>
<html lang="en">
  <head>
{% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
<body>
    <div class="container">
        <td> <button onclick="Add_stock()"> click to Add a2 stock </button>
    <table id ="my_table" class="responsive-table">
      <caption>Our Protfolio</caption>
      <thead>
        <tr>
          <th scope="col">Stock Symbol</th>
          <th scope="col">Date buy</th>
          <th scope="col">Date sell</th>
          <th scope="col">buy price</th>
          <th scope="col">sell price</th>
          <th scope="col">select</th>       
          <th scope="col">profit/loss</th>

        </tr>
      </thead>
      <tbody>
        <tr>


                

        </tr>


    
      </tbody>
    </table>
  </div>
  <script  src="{% static main.js %}"></script>
</body>
</html>
