<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>

    <link rel="stylesheet"  href= "{% static 'css/style.css' %}">
  </head>
<body>
    <div class="container">
    <table id ="my_table" class="responsive-table">
      <caption>Live Volume</caption>
      <thead>
        <tr>
          <th scope="col"> <button onclick="sortTable(0)">Stock symbol</button></th>
          <th scope="col">Eps array</th>
          <th scope="col">Net Income Array</th>
          <th scope="col">Sales Array</th>
          <th scope="col"><button onclick="sortTable(4)">Volume</button></th>
          <th scope="col"><button onclick="sortTable(5)">Price change</button></th>


        </tr>
      </thead>
      <tbody>
        <tr>


                

        </tr>


    
      </tbody>
    </table>
  </div>
  <script  src="/static/js/main.js"></script>
</body>
</html>
